params {
    config_profile_description = 'The Jackson Laboratory Elion HPC profile provided by nf-core/configs.'
    config_profile_contact = 'Bill Flynn (@flynnb)'
    config_profile_url = 'https://jacksonlaboratory.sharepoint.com/sites/ResearchIT/SitePages/HPC-Overview.aspx'
}

params {
    max_memory = 320.GB
    max_cpus = 72
    max_time = 336.h
    time_scale_factor = 1
}

env {
    NXF_WORK = '/sc/service/tmp'
    NXF_SINGULARITY_CAHCEDIR = '/sc/service/tmp/singularity_cache'
}

singularity {
    process.module = 'singularity'
    enabled = true
    autoMounts = true
    runOptions = '-B /gt,/sc'
}

process {
    //shell = ['/bin/sh', '-euo', 'pipefail']
    executor = 'slurm'
    queue = 'batch'
    clusterOptions = '-q normal'
    module = 'slurm'
}

process {
    cpus = 1
    memory = '2 GB'
    errorStrategy = 'retry'
    maxRetries = 3

    withLabel: 'tenx_genomics_count' { cpus = 32; memory = '168 GB' }
    withLabel: 'tenx_genomics_other' { cpus = 16; memory = '96 GB' }
    withLabel: 'alternative_count' { cpus = 4; memory = '128 GB' }
    withLabel: 'high_mem' { memory = '168 GB' }
    withLabel: 'velocyto' { cpus = 30; memory = '50 GB' }
}

executor {
    $slurm {
        queueSize = 250
        submitRateLimit = '1 / 2 s'
    }
    $local {
        memory = '2 GB'
    }
}

