import java.text.SimpleDateFormat

env {
    SINGULARITY_BIND = "/sc,/gt"
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

profiles {
    standard {
        process.executor = "local"
    }
    
    singularity {
        process.module = "singularity"
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.runOptions = "-B /gt,/sc"
    }
}


executor {
    $local {
        cpus = 1
        memory = '1 GB'
    }
}

