import java.text.SimpleDateFormat

params {
    max_memory = 12.GB
    max_cpus = 2
    max_time = 2.h
    time_scale_factor = 1
}

env {
    SINGULARITY_BIND = "/sc,/gt"
}

singularity {
    process.module = 'singularity'
    enabled = true
    autoMounts = true
    runOptions = '-B /gt,/sc'
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

process {
    executor = 'local'
    cpus = 1
    memory = '8 GB'
    maxRetries = 1
    errorStrategy = 'terminate'
}

executor {
    $local {
        memory = '8 GB'
    }
}
